@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
    margin: 0px;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 680px;
    height: 100%;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 1200px;
    padding: 30px 0;
    align-self: center;
    color: #2d2d2d;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    background-color: #000000;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #848484;
    font-weight: 800;
}

.logo img {
    width: 100px;
    height: 100%;
    margin-left: 10px;
}

.menu {
    min-width: 570px;
}

.menu li a {
    font-size: 16px;
}

.about_me {
    color: #2d2d2d;
}

.data {
    display: flex;
}

.fullname {
    flex-basis: 900px;
    margin: 0 30px 0 0;
    padding: 0 20px;
    background: #f1f1f1;
}

.myImg {
    flex-basis: 300px;
    min-height: 100%;
}

.myImg img {
    width: 300px;
    border: 0.5px groove;
}

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    /* color: #08298A; */
    /* padding-left: 20px; */
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #848484;
}

h1 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.footer {
    background-color: #000000;
    flex: 0 0 auto;
}